<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" type="text/css" href="{{style}}" />
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@515&display=swap" rel="stylesheet">
<head>
    <meta charset="UTF-8">
        <title>Maper.io</title>
</head>
<body>
        <h1 align=center>Maper.io</h1>
        <hr>
        <br><br><br><br>
        <form method="POST" class="login_form">
        <fieldset style="width: 0px;">
            <legend class=info>Выдать деньги</legend>
            <p class=info>ник:
            <br>
            <input class=info type="text" name="nick" maxlength="15">
            </p>
            <br>
            <p class=info>Денег:
            <input class=info type="text" name="money" maxlength="4">
            </p>
            <input type="submit" class=info value="OK">
        </fieldset>
        </form>

</body>
</html>