body{
        background-color: #33231b;
    }
   @font-face {
    font-family: TrueType; /* Гарнитура шрифта */
    src: url(19060.ttf); /* Путь к файлу со шрифтом */
   }
   .nick {
    font-size: 15pt;
    color: white;
   }
   .h1 {
    font-family: TrueType, 'HarpoonC';
    font-size: 65pt;
    color: white;
   }
   .score {
    font-size: 15pt;
    color: white;
   }
table{
    font-family: 'Comfortaa', cursive;
}
