    body{
        background-color: #33231b;
    }
   @font-face {
    font-family: TrueType; /* Гарнитура шрифта */
    src: url(19060.ttf); /* Путь к файлу со шрифтом */
   }
   h1 {
    font-family: TrueType, 'HarpoonC';
    font-size: 65pt;
    color: white;
   }
   .nick {
    font-family: TrueType, 'HarpoonC';
        font-size: 40pt;
    color: white;
   }
   .big_button {
    font-family: TrueType, 'HarpoonC';
    font-size: 40pt;
    color: white;
   }
   .info{
    font-family: TrueType, 'HarpoonC';
    font-size: 30pt;
    color: white;
    background-color: #33231b;
   }
   button {
    color: white;
    background-color: #000;
    border-radius: 0.5rem;
    padding: 1em 2em;
   }
