<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" type="text/css" href="{{style}}" />
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@515&display=swap" rel="stylesheet">
<head>
    <meta charset="UTF-8">
        <title>Maper.io</title>
</head>
<body>
        <h1 align=center>Maper.io</h1>
        <hr>
        <br><br><br><br>
        <div style="width: 0px; float: left">
            <text class=info>Вход или Регистрация выполнена успешно</text>
        </div>
	
	<a href="/game" class=big_button style="margin-left: 50%">Start</a>
        <div style="float: right">
            <text class="info">Полезности:</text>
            <br>
            <a href="https://vk.com/maperio" class="small_info">Наша группа в ВК (там есть бот)</a>
            <br>
            <a href="/store" class="small_info">Донат разрабам</a>
            <br>
            <a href="/score" class="small_info">Таблица лидеров</a>
        </div>
        <br>


</body>
</html>
