<!DOCTYPE html>
<html lang="ru">

<link rel="stylesheet" type="text/css" href="{{style}}" />
<head>
    <meta charset="UTF-8">
        <title>Maper.io</title>
</head>
<body>
        <h1 align=center class="h1">Maper.io</h1>
        <hr>
        <br><br><br><br>
        <center>
        <fieldset>
            <table border="2" align="left">
                {% for item in sb2 %}
                <tr>
                    <td>
                        <div class="score">{{sb[item]}}</div>
                        <div class="nick">{{item}}</div>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </fieldset>
        </center>
</body>
</html>